<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agree.mapper.SkuMapper">
	<!--useGeneratedKeys 主键返回策略，插入后会返回主键  -->
    <insert id="insert_sku" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.agree.bean.T_MALL_SKU">
        insert into t_mall_sku(shp_id,kc,jg,sku_mch,kcdz)
		values
		(#{shp_id},#{kc},#{jg},#{sku_mch},#{kcdz})
    </insert>

	<insert id="insert_sku_attr_value" parameterType="Map">
		insert into t_mall_sku_attr_value(shxm_id,shxzh_id,shp_id,sku_id)
		values
		<foreach collection="list_av" item="item" separator=",">
			(#{item.shxm_id},#{item.shxzh_id},#{shp_id},#{sku_id})
		</foreach>
	</insert>

	<insert id="insert_sku_info" parameterType="Map">
		insert into t_mall_product_sku_info(sku_id,pp_id,shp_ys,shp_bb)
		VALUES
		(#{sku_id},#{sku_info.pp_id},#{sku_info.shp_ys},#{sku_info.shp_bb})
	</insert>

</mapper>