<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agree.mapper.SpuMapper">
	<!--useGeneratedKeys 主键返回策略，插入后会返回主键  -->
    <insert id="insert_spu" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.agree.bean.T_MALL_PRODUCT">
        insert into t_mall_product(shp_mch,shp_tp,flbh1,flbh2,pp_id,shp_msh)
		values
		(#{shp_mch},#{shp_tp},#{flbh1},#{flbh2},#{pp_id},#{shp_msh})
    </insert>

	<insert id="insert_imgs"  parameterType="Map">
		INSERT INTO T_MALL_PRODUCT_IMAGE(SHP_ID,URL)
		VALUES
		<foreach item="img" collection="imgs" separator=",">
		(#{shp_id},#{img})
		</foreach>
	</insert>

	<insert id="insert_colors"  parameterType="Map">
		INSERT INTO T_MALL_PRODUCT_COLOR(SHP_ID,shp_ys)
		VALUES
		<foreach item="color" collection="list_color" separator=",">
			(#{shp_id},#{color.shp_ys})
		</foreach>
	</insert>

	<insert id="insert_versions"  parameterType="Map">
		INSERT INTO T_MALL_PRODUCT_VERSION(SHP_ID,shp_bb)
		VALUES
		<foreach item="version" collection="list_version" separator=",">
			(#{shp_id},#{version.shp_bb})
		</foreach>
	</insert>

	<select id="select_spu_list" resultType="com.agree.bean.T_MALL_PRODUCT">
		select * from t_mall_product
		WHERE
		pp_id=#{pp_id} and flbh2=#{flbh2}
	</select>

	<select id="select_color_list" parameterType="int" resultType="com.agree.bean.T_MALL_PRODUCT_COLOR">
		SELECT * FROM t_mall_product_color
		WHERE
		shp_id=#{spu_id}
	</select>

	<select id="select_version_list" parameterType="int" resultType="com.agree.bean.T_MALL_PRODUCT_VERSION">
		SELECT * FROM t_mall_product_version
		WHERE
		shp_id=#{spu_id}
	</select>
</mapper>