<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agree.mapper.ItemMapper">
	<select id="select_list_sku_by_spu" parameterType="int" resultType="com.agree.bean.T_MALL_SKU">
		SELECT * FROM T_MALL_SKU WHERE SHP_ID = #{spu_id}
	</select>

	<select id="select_detail_sku" parameterType="int"
			resultMap="select_detail_sku_map">
		SELECT
		sku.id as sku_id,
		spu.id as spu_id,
		img.id as img_id,
		attr.shxm_mch as shxm_mch,
		CONCAT(val.shxzh,val.shxzh_mch) as
		shxzh_mch,
		sku.*,spu.*,img.*
		FROM
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_product_image img,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_sku_attr_value av
		WHERE
		sku.shp_id = spu.Id
		AND spu.Id = img.shp_id
		AND sku.Id = av.sku_id
		AND av.shxm_id = attr.Id
		AND av.shxzh_id = val.Id
		and sku.Id = #{sku_id}

	</select>

	<resultMap id="select_detail_sku_map" type="com.agree.bean.DETAIL_T_MALL_SKU" autoMapping="true">
		<id property="id" column="sku_id"></id>
		<association property="spu" javaType="com.agree.bean.T_MALL_PRODUCT" autoMapping="true">
			<id column="spu_id" property="id"></id>
		</association>
		<collection property="list_image" ofType="com.agree.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
			<id property="id" column="img_id"></id>
		</collection>
		<collection property="list_av_name" ofType="com.agree.bean.OBJECT_AV_NAME" autoMapping="true">
		</collection>
	</resultMap>

	<select id="select_color_list" parameterType="int" resultType="com.agree.bean.T_MALL_PRODUCT_COLOR">
		SELECT * FROM t_mall_product_color
		WHERE
		shp_id=#{spu_id}
	</select>

	<select id="select_version_list" parameterType="int" resultType="com.agree.bean.T_MALL_PRODUCT_VERSION">
		SELECT * FROM t_mall_product_version
		WHERE
		shp_id=#{spu_id}
	</select>

	<select id="select_skuId" parameterType="Map" resultType="com.agree.bean.T_MALL_PRODUCT_SKU_INFO">
		SELECT * FROM t_mall_product_sku_info
		WHERE
		shp_ys=#{color} and shp_bb=#{version}
	</select>


	<resultMap id="select_sale_attr_map" type="com.agree.bean.OBJECT_PRODUCT_SKU_INFO" autoMapping="true">
		<id column="info_id" property="sku_id" />
		<result column="info_ys" property="shp_ys"/>
		<result column="info_bb" property="shp_bb"/>
		<association property="color" javaType="com.agree.bean.T_MALL_PRODUCT_COLOR" autoMapping="true">
			<id property="id" column="color_id"/>
			<result property="shp_ys" column="ys"/>
		</association>
		<association property="version" javaType="com.agree.bean.T_MALL_PRODUCT_VERSION" autoMapping="true">
			<id property="id" column="version_id"/>
			<result property="shp_bb" column="bb"/>
		</association>
	</resultMap>

	<select id="select_sale_attr_by_skuId" parameterType="int" resultMap="select_sale_attr_map">
		SELECT info.sku_id as info_id,info.shp_ys as info_ys,info.shp_bb as info_bb,info.*,color.id as color_id,color.shp_ys as ys,color.*,version.id as version_id,version.shp_bb as bb,version.*
		FROM t_mall_product_sku_info info ,
		t_mall_product_color color ,
		t_mall_product_version version
		WHERE
		info.sku_id=#{sku_id} and color.id=info.shp_ys and version.id=info.shp_bb
	</select>
</mapper>